body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: $color-dark;
}

img {
    max-width: 100%;
    height: auto;
}

.overflow--h {
    overflow: hidden;
}

p {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
    margin-top: 0;
}

input:focus,
select:focus {
    outline: none;
}

a:link,
a:visited {
    text-decoration: none;
    color: $color-dark;
}

a:hover {
    color: $color-primary;
}

a:hover,
a:active,
a:focus {
    outline: none;
    text-decoration: none;
}

button:focus {
    outline: none;
}

button {
    cursor: pointer;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.ptb-10 {
    padding: 1rem 0;
}

.ptb-15 {
    padding: 1.5rem 0;
}

.ptb-25 {
    padding: 2.5rem 0;
}

.ptb-50 {
    padding: 5rem 0;
}

.ptb-100 {
    padding: 10rem 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.floatleft {
    float: right;
}

.floatright {
    float: right;
}

.opacity--dark {
    position: relative;
    z-index: 1;
}

.opacity--dark:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: $color-dark;
    content: "";
    opacity: .5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}



// Heading
.heading__secondary {
    padding: 10rem 0 5rem 0;

    & h2 {
        font-size: 3.5rem;
        margin-bottom: 3rem;
        text-transform: uppercase;
        color: $color-dark;
    }

    &--underline {
        width: 20rem;
        height: .3rem;
        margin: 0 auto;
        background: $color-primary;
    }
}

.heading__tertiary {
    font-size: 2rem;
    font-weight: 700;

    &--center {
        text-align: center;
    }
}

.paragraph--medium {
    font-size: 1.4rem;

}

// Logo
.logo {

    &--small {
        width: 5rem;
        height: 4.8rem;
    }
}

// Transition
input,
button,
img {
    -webkit-transition: all .3s;
    transition: all .3s;
}


a {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    text-decoration: none;
    color: #363636;
}


div {
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
}












// end with typography
