$color-primary: #3DB4D6;
$color-primary-dark: #02A4D0;
$color-primary-light: #3ED1E7;

// fonts
$color-white: #fff;
$color-dark: #333;
$color-dark-light: #cbc6c6;
$color-dark-lighter: #dfdfdf;
$color-hover: #FC4B98;
$color-active: #FC4B98;
