*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/* set root font size, 10/16=0.625, defines rem */
html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #333; }

img {
  max-width: 100%;
  height: auto; }

.overflow--h {
  overflow: hidden; }

p {
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  margin-top: 0; }

input:focus,
select:focus {
  outline: none; }

a:link,
a:visited {
  text-decoration: none;
  color: #333; }

a:hover {
  color: #3DB4D6; }

a:hover,
a:active,
a:focus {
  outline: none;
  text-decoration: none; }

button:focus {
  outline: none; }

button {
  cursor: pointer; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.ptb-10 {
  padding: 1rem 0; }

.ptb-15 {
  padding: 1.5rem 0; }

.ptb-25 {
  padding: 2.5rem 0; }

.ptb-50 {
  padding: 5rem 0; }

.ptb-100 {
  padding: 10rem 0; }

.clearfix::after {
  content: "";
  display: table;
  clear: both; }

.floatleft {
  float: right; }

.floatright {
  float: right; }

.opacity--dark {
  position: relative;
  z-index: 1; }

.opacity--dark:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #333;
  content: "";
  opacity: .5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; }

.heading__secondary {
  padding: 10rem 0 5rem 0; }
  .heading__secondary h2 {
    font-size: 3.5rem;
    margin-bottom: 3rem;
    text-transform: uppercase;
    color: #333; }
  .heading__secondary--underline {
    width: 20rem;
    height: .3rem;
    margin: 0 auto;
    background: #3DB4D6; }

.heading__tertiary {
  font-size: 2rem;
  font-weight: 700; }
  .heading__tertiary--center {
    text-align: center; }

.paragraph--medium {
  font-size: 1.4rem; }

.logo--small {
  width: 5rem;
  height: 4.8rem; }

.btn {
  font-size: 1.8rem; }
  .btn--blue {
    background: #3DB4D6;
    color: #fff; }
    .btn--blue:hover {
      background: #02A4D0;
      color: #FC4B98; }
  .btn--large {
    padding: 1rem 0;
    width: 100%; }

.icons {
  justify-content: flex-end; }
  .icons--single:not(:last-child) {
    margin-right: 1rem; }
  .icons--blue {
    color: #3DB4D6; }
  .icons--large {
    font-size: 2.3rem; }

#header {
  background: #3DB4D6;
  color: #fff;
  font-weight: 700; }

.header__menu-item {
  justify-content: flex-end;
  position: relative; }
  .header__menu-item > li {
    display: inline-block;
    margin-right: 3rem; }
    .header__menu-item > li a {
      color: #fff;
      font-size: 1.7rem;
      display: block; }
    .header__menu-item > li a:hover {
      color: #FC4B98; }
    .header__menu-item > li a:hover .header__menu-item--sub-item {
      display: block; }
  .header__menu-item--sub-item {
    display: none;
    position: absolute;
    background-color: #3ED1E7;
    padding: 1rem;
    z-index: 2; }

.login-register__item {
  justify-content: start; }
  .login-register__item > li:not(:last-child) {
    margin-right: 2rem; }
  .login-register__item > li i {
    margin-right: .3rem; }
  .login-register__item > li a:link,
  .login-register__item > li a:visited {
    color: #fff;
    font-size: 1.7rem; }
  .login-register__item > li a:hover {
    color: #FC4B98; }

.mobile-menu {
  position: relative;
  margin: 0 auto;
  background: red; }

.mobile-menu .slicknav_btn {
  background: transparent;
  border-radius: 0;
  display: block;
  float: right;
  margin: 0;
  padding: 0; }

.slicknav_menu .slicknav_icon {
  margin: 0 auto; }

.mobile-menu .slicknav_menu .slicknav_menutxt {
  display: none; }

.mobile-menu .slicknav_menu {
  background: transparent  none repeat scroll 0 0;
  font-size: 2rem;
  padding: 0;
  position: absolute;
  right: 0;
  top: -.5rem; }

.mobile-menu .slicknav_menu .slicknav_icon-bar {
  display: block;
  height: 3px;
  width: 2.5rem;
  background: #fff; }

.mobile-menu .slicknav_nav {
  background: #3DB4D6;
  clear: both;
  color: #fff;
  font-size: 15px;
  margin: 0;
  padding: 20px 0;
  position: relative;
  top: 2.5rem;
  width: 690px;
  left: 0;
  z-index: 9999; }

.slicknav_nav a {
  color: #fff;
  text-transform: capitalize; }

.slicknav_nav .slicknav_row, .slicknav_nav a {
  margin: .2rem 3rem; }

.slicknav_nav a i {
  display: none; }

.slicknav_nav a:hover {
  background: transparent;
  color: #fff; }

.mobile-menu .slicknav_nav .slicknav_row:hover {
  background: transparent; }

.mobile-menu .slicknav_open .slicknav_icon span:first-child {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-44deg);
  -moz-transform: rotate(-45deg);
  position: relative;
  top: 5px; }

.mobile-menu .slicknav_open .slicknav_icon span:last-child {
  transform: rotate(45deg);
  -webkit-transform: rotate(44deg);
  -moz-transform: rotate(45deg); }

.mobile-menu .slicknav_open .slicknav_icon span:nth-child(2) {
  display: none; }

.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
  margin-top: .199rem; }

.slicknav_nav li, .slicknav_nav ul {
  position: relative; }

/*============================
        Search Section
==============================*/
#search-form {
  margin-top: -10rem;
  position: relative;
  z-index: 999; }

.search-box {
  background: rgba(255, 255, 255, 0.5);
  padding: 4rem;
  border-radius: 1rem;
  box-shadow: 1px 2px 5px -1px rgba(0, 0, 0, 0.1); }
  .search-box select {
    border: 1px solid #cbc6c6;
    padding: 1rem 2rem;
    background: #fff url(../images/icon/angle-down.png) no-repeat calc(100% - 15px) center;
    -webkit-appearance: none;
    width: 100%;
    color: #333;
    border-radius: .3rem;
    margin-bottom: 2.2rem; }

.keyword__input {
  font-size: 1.6rem;
  border: 1px solid #cbc6c6;
  border-radius: .3rem;
  padding: .8rem 2rem;
  width: 100%; }

/*============================
        Featured Section
==============================*/
.property-box {
  border: 1px solid #dfdfdf;
  margin-bottom: 5rem; }

.property-image {
  position: relative;
  overflow: hidden; }

.property-type-price {
  position: absolute;
  left: 2rem;
  bottom: 1rem; }
  .property-type-price .type {
    background: #3DB4D6;
    padding: .3rem 2rem;
    color: #fff;
    display: inline-block;
    text-transform: uppercase; }
  .property-type-price .price {
    background: rgba(255, 255, 255, 0.7);
    padding: .3rem 2rem;
    color: #333;
    font-size: 2rem;
    display: inline-block;
    font-weight: 700; }

.property-info {
  padding: 2.5rem; }
  .property-info__id {
    font-size: 1.2rem;
    color: #cbc6c6; }
  .property-info__stucture {
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 1px dashed #dfdfdf; }
