#header {
    background: $color-primary;
    color: $color-white;
    font-weight: 700;
}

.header {

    &__menu-item {
        justify-content: flex-end;

        &>li {
            margin-right: 3rem;
        }

        &>li a:link,
        &>li a:visited {
            color: $color-white;
            font-size: 1.7rem;
        }

        &>li a:hover{
            color: $color-hover;
        }

        &>li.active>a {
            color: $color-active;
        }

        &--sub:hover {
            .header__menu-item--sub-item {
                display: block;
                z-index: 2;
            }
        }

        &--sub-item {
            display: none;
            position: absolute;
            background-color: $color-primary-light;
            padding: 1rem;

        }


    }
}

// Login & Restister
.login-register {

    &__item {
        justify-content: start;

        &>li {
            margin-right: 2rem;
        }

        &>li i {
            margin-right: .3rem;
        }

        &>li a:link,
        &>li a:visited {
            color: $color-white;
            font-size: 1.7rem;
        }

        &>li a:hover {
            color: $color-hover;
        }
    }


}





// end with header
