.icons {
    justify-content: flex-end;

    &--single:not(:last-child) {
        margin-right: 1rem;
    }

    &--blue {
        color: $color-primary;
    }

    &--large {
        font-size: 2.3rem;
    }
}
